.row
  .col-8
    %h1
      Welcome to Shakin'.
    %p
      This site provides info on earthquakes as sourced from 
      %a{href:'http://earthquake.usgs.gov/earthquakes/catalogs/eqs7day-M1.txt'}
        earthquakes.usgs.gov
%p
.row
  .col-8
    %a{href: "#{url_for '/v1/earthquakes'}"}
      .item.highlight
        %h4
          HTML version of Recent Earthquakes API
    %a{href: "#{url_for '/v1/earthquakes.json'}"}
      .item.highlight
        %h4
          JSON version of Recent Earthquakes API
    %a{href: "#{url_for '/v1/describe/earthquakes'}"}
      .item.highlight
        %h4
          How to use this api 
    %a{href: "#{url_for '/v1/describe/earthquakes.json'}"}
      .item.highlight
        %h4
          JSON documentation
