.row
  .col-8
    %h1
      Welcome to Shakin'.
    This site provides info on earthquakes as sourced from 
    %a{href:'http://earthquake.usgs.gov/earthquakes/catalogs/eqs7day-M1.txt'}
      earthquakes.usgs.gov

    Contact 
    %a{href:'mailto:pfarrell@realgravity.com'}
      Pat Farrell
    with any questions
.row
  .col-8
    %ul
      %li
        %a{href: "#{url_for '/earthquakes'}"}
          Recent Earthquakes
