#results {
  overflow:auto;
}

.beta {
  color: red;
}

#footer {
  height: 2em;
}

.interface{
  min-height:450px;
}

.item {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #999;
  border-radius: 15px;
  margin-right: 15px;
  float: left;
  min-height: 130px;
}

.item a {
  color: #000;
}

.item h4 {
  text-align:center;
}

.highlight a:hover {
  text-decoration: none;
}
.highlight:hover {
  background-color:#EEE;
  cursor: pointer;
}

.key {
  font-weight:bold;
}

#footer {
}

#query {
  width:593px;
}

.chart{
  background: #b0e0f8;
  margin: 5px;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.text-value {
  fill: white;
}

.text-label {
  fill: dimGray;
}

svg rect { stroke: white; fill: steelblue; }

.recordset th {
  padding: 5px;
  white-space:nowrap;
  border-right: 1px solid black;
}
.recordset td {
  padding: 5px;
  border: 1px solid black;
  white-space:nowrap;
}

.right-float {
  float: right;
} 

table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}

table.sortable th:hover{
  cursor: pointer;
}


div.header {
  margin-bottom:1em;
}
